/* Default transparent navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // padding: 15px 50px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  // z-index: 1000;
  background: transparent;
}

/* White background after scroll */
.navbar-scrolled {
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.navbar-scrolled2 {
  background: #ffbb00;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Container */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

/* Logo */
// .logo {
//   font-size: 22px;
//   font-weight: bold;
//   color: #ffcc00;
  
// }




.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 60px;
  border-radius: 50%;
  background-color: transparent;
  object-fit: cover;
}

// npn


/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
    justify-content: space-between;
    align-items:'center';


}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s;
  
}

/* When navbar turns white */
.navbar-scrolled .nav-links a {
  color: black;
}

/* Register button */
.register-btn {
  background: #ffcc00;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.register-btn:hover {
  background: #e6b800;
}
